<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Practice Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="index.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <style>
      .disabled {
        color: lightgrey;
        transition: color 1s ease;
      }
    </style>
    <div id="app">
      {{ message }}
      <button v-on:click="showInfo = !showInfo">Toggle</button>
      <p v-bind:class="{ disabled: showInfo }"> Extra Info!</p>
      <div v-for="fruit in fruits">
        <p>{{ fruit }}</p>
      </div>
      <input type="text" v-model="newFruit" />
      <button v-on:click="addNewFruit()">Add a fruit</button>
    </div>
    <div id="app-4">
      <ol>
        <li v-for="todo in todos">
          {{ todo.text }}
        </li>
      </ol>
      <button v-on:click="reverseList">Reverse List</button>
    </div>
    <div id="app-5">
      <p>{{ message }}</p>
      <button v-on:click="reverseMessage">Reverse Message</button>
    </div>    
    <div id="app-6">
      <p>{{ message }}</p>
      <input v-model="message">
    </div>
  </body>
</html>