<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Todos Vue.js</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="todos.js" defer></script>
  </head>
  <body>
    <h1>Hello from HTML!</h1>
    <div id="app">
      {{ message }}
      <input type="text" v-model="title" />
      <button v-on:click="createTodos()">Create Todos</button>
      <div v-for="todo in todos">
        <h4>{{ todo.title }}</h4>
        <p>Completed: {{ todo.completed }}</p>
      </div>
    </div>
  </body>
</html>